<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Equipe Shift to the Future</title>
</head>

<body>
    <div id="navbar">
        <a href="/" id="linklogo">
            <img src="/img/LogoSF.png" id="logo-image">
        </a>
        <a href="/" class="navbutton">Home</a>
        <a href="/sobre" class="navbutton">Sobre</a>
        <a href="/contato" class="navbutton">Contato</a>
    </div>
    <div id="content">
        <section id="presentation">
            <div class="background-image" id="presentation-image"></div>
            <div class="text-presentation">
                <h1>Olá! Nós somos a Shift to the Future</h1>
                <p>Uma equipe de desenvolvedores que busca o futuro</p>
            </div>
        </section>
        <section id="about">
            <div class="background-image" id="about-image"></div>
            <div class="text-about">
                <h1>Quem somos</h1>
                <p>Somos a equipe de competições do Colégio Marista São Francisco, uma equipe focada na inovação e em
                    bons resultados nas mais diversas competições de robótica.</p>
            </div>
        </section>
        <section id="contact">
            <div class="contact-info">
                <h1>Contate-nos</h1>
                <form action="/contact" method="post" class="contact-form">
                    <div class="user-info">
                        <input type="text" name="name" placeholder="Nome" required>
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <textarea name="message" placeholder="Mensagem" required></textarea>
                    <button type="submit">Enviar</button>
                </form>
                <div class="icons">
                    <a class="icon" href="https://wa.me/qr/IPKEMJZ3FZNTD1">
                        <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png" />
                    </a>
                    <a class="icon" href="https://www.facebook.com/">
                        <img src="https://img.icons8.com/color/48/null/facebook-new.png" />
                    </a>
                    <a class="icon" href="https://www.instagram.com/">
                        <img src="https://img.icons8.com/fluency/48/null/instagram-new.png" />
                    </a>
                </div>
            </div>
        </section>
    </div>
</body>



</html>