<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
</head>

<body>
    <div id="navbar">
        <a href="/" id="linklogo">
            <img src="/img/LogoSF.png" id="logo-image">
        </a>
        <a href="/" class="navbutton">Home</a>
        <a href="/sobre" class="navbutton">Sobre</a>
        <a href="/contato" class="navbutton">Contato</a>
    </div>
    <div class="main">
        <div id="content">
            <div id="quem-somos">
                <p class="paragrafo">
                    A equipe de robótica Shift to the Future foi criada no Colégio Marista São Francisco, na cidade de
                    Rio
                    Grande, no Rio Grande do Sul. O grupo é formado por estudantes apaixonados por tecnologia e
                    engenharia,
                    que
                    buscam criar soluções inovadoras por meio da robótica e da automação. A equipe participa de
                    competições
                    de
                    robótica dentro do país, como a Olimpíada Brasileira de Robótica e o Festival Marista de Robótica.
                </p>
                <p class="paragrafo">
                    A equipe é formada por membros com diferentes habilidades, incluindo programação, eletrônica,
                    mecânica e
                    design, e todos eles trabalham juntos para criar robôs que possam realizar tarefas específicas, como
                    pegar
                    objetos, mover-se em um determinado ambiente ou executar uma série de ações. Para isso, a equipe
                    utiliza
                    uma
                    variedade de tecnologias e ferramentas, desde impressoras 3D até softwares de simulação.
                </p>
                <p class="paragrafo">
                    A missão da equipe Shift to the Future é ir além dos limites da tecnologia atual e criar soluções
                    que
                    possam
                    ajudar as pessoas em suas atividades diárias. A equipe acredita que a robótica pode ser uma
                    ferramenta
                    poderosa para melhorar a vida das pessoas e resolver problemas que antes pareciam insolúveis.
                </p>
            </div>
            <div id="us">
                <img src="https://cdn.discordapp.com/attachments/746522955227594806/859165987202007050/images.png">
            </div>
        </div>
    </div>
    </div>
</body>

<style>
    body {
        margin: 0px;
    }

    .main {
        width: 100vw;
        height: 100vh;
        background-color: #202124;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    #quem-somos {
        background-color: #161897;
        width: 50%;
        padding: 15px;
        border-radius: 20px 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #us {
        width: 50%;
        height: 100%;
        border-radius: 0 20px 20px 0;
    }

    .paragrafo {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #fff;
        text-align: justify;
        text-indent: 3ch;
        width: 90%;
        margin: 0px;
        padding: 5px 0px;
    }

    #navbar {
        display: flex;
        align-items: center;
        background-color: #161897;
        overflow: hidden;
        width: 100vw;
        scroll-snap-align: start;
    }

    .navbutton {
        border-radius: 7px;
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbutton:hover {
        background-color: #220621;
        color: #fff;
    }

    #logo-image {
        float: left;
        display: block;
        height: 46px;
        width: 90px;
        padding: 5px;
    }
</style>

</html>